@import '../../assets/mixins/variables.scss';

.faq {
    display: flex;
    align-items: center;
    flex-direction: column;
    &__wrapper {
        @include wrapperSize;
    }
    &__title {
        font-family: $mainFont;
        text-align: center;
        padding: 3rem;
    }
    &__subject {
        @include uppercaseTitle;
    }
}