@import '../../assets/mixins/variables.scss';

.projetos-comp {
    display: flex;
    justify-content: center;
    &__wrapper {
        @include wrapperSize;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }
    &__h1 {
        @include uppercaseTitle;
        align-self: flex-start;
        &.title.is-1 {
            font-size: 2.5rem;
        }
        @media(min-width: $mobile) {
            &.title.is-1 {
                font-size: 3rem;
            }
        }

    }
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(min-width: 700px) {
            width: 700px;
        }
        @media(min-width: $mobile) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__btn-more {
        align-self: center;
        width: 100px;
        margin-bottom: 40px;
        &.is-link {
            background-color: $mainColor;
            &:hover {
                background-color: #fff;
                border: 1px solid $mainColor;
                color: $mainColor;
            }
        }
    }
    &__search {
        height: 50px;
        background-color: #fff;
        display: flex;
        align-items: center;
        width: 100%;
    }
    &__field {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}