@import '../../assets/mixins/variables.scss';

.home {
    &__saiba-mais {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background: $mainColor;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    &__img-header {
        width: 100%;
        margin-bottom: 40px;
    }
}

.saiba-mais {
    &__wrapper {
        width: 90%;
        padding: 50px 0;
        @media(min-width: $tablet) {
            width: 80%;
            padding: 0;
        }
        @media(min-width: $largeDesktop) {
            width: 75%;
        }
    }
    &__content {
        display: flex;
        align-items: center;
        min-height: 33vh;
        flex-direction: column;
        justify-content: center;
        &:first-child {
            margin-bottom: 50px;
        }
        @media(min-width: $tablet) {
            flex-direction: row;
            justify-content: space-evenly;
        }

    }
    &__img {
        width: 15%;
        max-width: 200px;
        min-width: 140px;
        border-radius: 50%; 
        margin-bottom: 25px;
    }
    &__text {
        color: #fff;
        font-family: $mainFont;
        max-width: 750px;
        text-align: center;
        &:first-child {
            margin-left: 15px;  
        }
        @media(min-width: $desktop) {
            max-width: 650px;
        }
        @media(min-width: 1650px) {
            max-width: 800px;
        }
        @media(min-width: $tablet) {
            text-align: left;
            margin-left: 50px;
        }
        &.title.is-2 {
            font-size: 1.5rem;
            @media(min-width: $mobile) {
                font-size: 2rem;
            }
            @media(min-width: $desktop) {
                font-size: 2.5rem;
            } 
        }
    }
    @media(min-width: $largeDesktop) {
        &__first {
            order: 1;
        }
        &__second {
            order: 2;
        }
    }
    &__btn {
        width: 160px;
        &.is-danger:hover {
            background-color: #fff;
            color: #ff3860;
        }
        &-wrapper {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            @media(min-width: $tablet) {
                margin-top: 15px;
            }
        }
    }
}