@import '../../assets/mixins/variables.scss';

.formulario-projeto {
    display: flex;
    justify-content: center;
    &__wrapper {
        @include wrapperSize;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        flex-direction: column;
    }
    &__form {
        @include formWrapper;
        @media (min-width: 1024px) { 
            width: 60%;
        }
    }
}

.form {
    &__wrapper {
        min-height: 300px;
        &--step {
            &-one {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }
            &-two {
                justify-content: center;
                display: flex;
                flex-direction: column;
            }
        }
    }
    &__select {
        &-location {
            width: 100%;
        }
    }
}

.field {
    &.is-grouped {
        &.form__wrap-btns {
            display: flex;
            margin-top: 20px;
            justify-content: center;
        }
    }
}

.custom-file {
    &__name {
        text-align: center;
    }
    &__file {
        &.file.is-danger.has-name.is-boxed {
            align-items: flex-start;
            flex-direction: column;
        }
    }
}