@import '../../assets/mixins/variables.scss';

.reset-password {
    display: flex;
    justify-content: center;
    height: 90vh;
    &__wrapper {
        width: 90%;
        @media(min-width: $mobile) {
            width: 70%;
        }
        @media(min-width: $desktop) {
            width: 50%;
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        @include uppercaseTitle;
    }
    &__btn {
        background-color: $mainColor;
        color: #fff;
        font-weight: 700;
        &:hover {
            color: #fff;
            font-weight: 400;
        }
        &-wrapper {
            margin-top: 1.5rem;
            text-align: center;
        }
    }
    &__msg {
        color: green;
        text-align: center;
        margin-top: 1.75rem;
    }
}